body {
    background-color: #f0f0f0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #f0f0f0;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
    margin: 10px;
    border: none;
}

.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
}

.logo-text {
    font-size: 24px;
    color: #3477e3;
    font-weight: bold;
    text-decoration: none;
    margin-left: 10px;
}

.logo-icon {
    width: 50px;
    height: 50px;
    background-color: #3477e3;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.logo-icon .line1,
.logo-icon .line2,
.logo-icon .line3 {
    position: absolute;
    height: 2px;
    background-color: white;
}

.logo-icon .line1 {
    top: 15px;
    width: 17px;
    margin-right: 13px;
}

.logo-icon .line2 {
    top: 24px;
    width: 26px;
    margin-right: 6px;
}

.logo-icon .line3 {
    top: 33px;
    width: 14px;
    margin-right: 16px;
}

.filters {
    display: flex;
    align-items: center;
    border: none;
    margin: 0;
    padding: 0;
}

.large-select {
    width: 200px;
    padding: 5px;
    /* 上下のパディングを狭くする */
    font-size: 16px;
    margin-right: 0px;
}

input[type="text"] {
    position: relative;
    display: flex;
    padding: 5px;
    /* 上下のパディングを狭くする */
    font-size: 16px;
    margin-left: 0px;
}

.search-container {
    position: relative;
    display: flex;
    align-items: center;
}

img.search-icon {
    position: absolute;
    right: 30%;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.search-input-container {
    position: relative;
    display: flex;
    align-items: center;
}

.search-input-container .search-icon {
    position: absolute;
    width: 20px;
    height: 20px;
}

.search-container input[type="text"] {
    padding-left: 40px;
}

.search-icon {
    width: 20px;
    height: 20px;
    margin-left: auto;
}

