.form-container {
    background: linear-gradient(to bottom, #3477e3 0%, #3477e3 24%, white 0%, white 80%);
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
    position: relative;
}

.form-container h2 {
    color: white;
    padding: 10px;
    margin: auto;
    border-radius: 5px;
}

.input-group {
    display: flex;
    align-items: center;
    margin-top: 18px;
    margin-bottom: 15px;
    border-bottom: 1px solid #ccc;

}

.input-group i {
    margin-right: 10px;
    color: #666;
}

.input-group input {
    border: none;
    outline: none;
    width: 100%;
    padding: 10px;
    font-size: 16px;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    /* ボタンを右寄せにする */
}

button {
    background-color: #3b82f6;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #2563eb;
}

/* エラーメッセージのスタイル */
.error-message {
    color: rgb(67, 178, 230);
    font-size: 0.875em;
    margin-top: 0.25em;
}