body {
    background-color: #f0f0f0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #f0f0f0;
    padding: 10px 20px;
    display: flex;
    align-items: center;
}

main {
    margin-top: 10px;
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo-text {
    font-size: 24px;
    color: #3477e3;
    font-weight: bold;
    text-decoration: none;
    margin-left: 10px;
}

.logo-icon {
    width: 50px;
    height: 50px;
    background-color: #3477e3;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.logo-icon .line1,
.logo-icon .line2,
.logo-icon .line3 {
    position: absolute;
    height: 2px;
    background-color: white;
}

.logo-icon .line1 {
    top: 15px;
    width: 17px;
    margin-right: 13px;
}

.logo-icon .line2 {
    top: 24px;
    width: 26px;
    margin-right: 6px;
}

.logo-icon .line3 {
    top: 33px;
    width: 14px;
    margin-right: 16px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.shop-detail {
    width: 60%;
    margin-right: 20px;
    flex: 1;
}

.shop-detail .header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.shop-detail .back-button {
    display: inline-block;
    font-size: 22px;
    text-decoration: none;
    color: #000;
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    margin-right: 10px;
}

.shop-detail h1 {
    font-size: 32px;
    margin: 0;
    color: #000;
}

.shop-detail img {
    width: 100%;
    height: auto;
    border-radius: 0px;
    margin-bottom: 10px;
}

.shop-detail p {
    font-size: 16px;
    color: #000;
    margin-bottom: 10px;
}

.reservation-form {
    width: 35%;
    height: 35%;
    background-color: #3477e3;
    color: #fff;

    border-radius: 8px;
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-left: 20px;
}


.reservation-form h2 {
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 10px;
    margin: 20px 20px 10px 20px;
}

.reservation-form form {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.reservation-form input,
.reservation-form select {
    margin-bottom: 10px;
    margin: 10px 20px 10px 20px;
    padding: 10px;
    border: none;
    border-radius: 4px;
}

.reservation-summary {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 120px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.reservation-summary p {
    margin: 5px 0;
}

.reservation-form button[type="submit"] {
    background-color: #1e30f4;
    color: #fff;
    border: none;
    cursor: pointer;
    height: 45px;
    width: auto;
    margin-top: auto;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.reservation-form button:hover {
    background-color: #1c2bb3;
}

.error-message {
    color: #fff;
    font-size: 15px;
    margin-left: 17px;
}